/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {

    font-family:AppleSDGothicNeo-UltraLight;
}

h1 {
    color:black;
    margin-left: 20px;
    font-family:AppleSDGothicNeo-UltraLight;
}
p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family:AppleSDGothicNeo-UltraLight;
}

h2 {
  margin-bottom: 40px;
}

.searchbar {
  color: black;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}
