<div class="banner" style="position: absolute; background: linear-gradient(-225deg, rgba(0,1,1,0) 0%, rgba(0,1,1,0) 50%), url('<%=image_path 'Picture1.jpg'%>');">
      <div class="banner-content">
<%= link_to "This is where you discover more than just music", class: "button", style: "text-decoration: none" %>

    </div>
  </div>
</div>
