.banner {
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: grey;
    text-decoration: none;
  }
  a {
    color:white;
    &:hover {
      color:grey;
    }
  }
}

.banner2 {
  color: white;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  p{
    color:black;
    font-family: "AppleSDGothicNeo-ultralight", sans-serif;
    font-size:30px;
  }
  p2{
        color:black;
    font-family: "AppleSDGothicNeo-thin", sans-serif;
    font-size: 48px;
    align-items: center;
  }
}
