.button {
    background-color: transparent; /* Green */
    border-radius: 12px;
    color: grey;
   font-family: "AppleSDGothicNeo-Thin", sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    width: 100%;
    border-color: transparent;
}

