<h2>These are your incoming requests</h2>

<% @requests.each do |request| %>
<%= request.title %>
<%= link_to "Accept",  accept_entertainer_request_path(request), method: :patch %>
<%= link_to "Decline",  decline_entertainer_request_path(request), method: :patch %>
  <% end %>
